body { position: relative; }

.mainnav { position: fixed; overflow-y: scroll; overflow-x: hidden; top: 0; left: 0; bottom: 0; width: 220px; background: #343B41; color: white; -webkit-transition: all .4s ease-in-out; z-index: 1; }
.mainnav .logo svg { padding: 21px 7px 7px 14px; max-width: 100px; }
.mainnav div.caption { padding: 0 7px 42px 14px; color: rgba(255,255,255,.7); font-size: 75%; }
.mainnav .logo svg * { fill: white; }


/* bootstrap overrides */
.nav-pills>li>a { border-radius: 0 !important; }
.nav-pills>li.active>a { background-color: #2F007B; color: white; }
.nav-pills>li.active>a:hover { background-color: rgba(47, 0, 123, .6);}
.nav>li>a:hover { background-color: #fff; }

.mainnav .nav.nav-pills>li>a { color: white; }
.mainnav .nav.nav-pills>li>a:hover { color: #343B41; }
.mainnav .nav.nav-pills>li.active>a:hover { color: white; }
.mainnav .nav.nav .nav>li>a { font-size: 12px; color: #aaa; }

.secondaryNavWrapper { -webkit-transition: all .2s ease-in-out; position: fixed; overflow-y: scroll; overflow-x: hidden; top: 0; bottom: 0; left: 220px; width: 220px; background: #eaeaea; color: #343B41; z-index: 2; box-shadow: -8px 0 8px rgba(0,0,0,.2); }
.secondaryNavWrapper .nav.nav-pills>li>a { color: #343B41; }
.secondaryNavWrapper .nav.nav-pills>li.active>a { color: white; }

body.collapsed .secondaryNavWrapper { left: 80px; }
body.collapsed section.resource { left: 300px; }


section.resource { -webkit-transition: all .2s ease-in-out; color: #343B41; position: absolute; top: 0; left: 440px; box-shadow: -8px 0 8px rgba(0,0,0,.03); z-index: 3; padding: 14px 30px; }



section.resource header.eyebrow, .nav .nav-header { font-size: 11px; font-weight: 700; color: #999; text-transform: uppercase; }
.nav .nav-subhead { font-size: 11px; font-weight: 700; color: #999; }
section.resource header.eyebrow { margin-bottom: -14px; margin-top: 21px; }
.nav .nav-header { padding: 14px 14px 3px; }
.nav .nav-subhead { padding: 0 14px; }

section.resource section header.methodHeader { font-weight: 700; padding: 14px 0; margin-top: 7px; }

section.http { /*background: rgba(52, 59, 65, .1);*/ }


section.broadcast { /*background: rgba(255, 152, 0, .1);*/ }
/*section.resource header.methodHeader.broadcast { color: #FF9800; }*/

section.rpc { /*background: rgba(103, 58, 183, .1);*/ }
/*section.resource header.methodHeader.rpc { color: #673AB7; }*/


section.resource h5 { font-weight: 700; height: 30px; margin: 0; }
section.resource h5.verb { padding: 7px 7px 7px 102px; }
section.resource h5.broadcast_event, section.resource h5.rpc { padding: 7px 7px 7px 84px; }

section.resource section:not(.method_detail) { margin-top: 21px; }

section.method_detail { padding: 14px 14px 14px 42px; margin-top: 7px; }

section.method_detail header.does { margin-bottom: 7px; }
section.method_detail div.code_description { position: relative; margin-top: 28px; border-top: 2px solid #272822; color: #272822; font-weight: 600; padding: 4px 7px 7px 42px; background-color: rgba(255, 217, 0, .15); }
section.method_detail div.code_description:before { content: '\f120'; font-family: FontAwesome; font-weight: 400; color: #272822; position: absolute; top: 4px; left: 8px; font-size: 22px; line-height: 24px; color: rgba(0,0,0,.4); }


pre[class*="language-"] { margin: 0 !important; }


h5.verb, h5.broadcast_event, h5.rpc { position: relative; border-top-left-radius: 3px; border-bottom-left-radius: 3px;  }
h5.verb:before, h5.broadcast_event:before, h5.rpc:before { position: absolute; top: 0; bottom: 0; left: 0; width: 96px; padding-right: 7px; text-align: right; color: #FFF; line-height: 30px; }
h5.verb:after, h5.broadcast_event:after, h5.rpc:after { font-family: FontAwesome; font-weight: 400; color: white; position: absolute; top: 3px; left: 8px; bottom: 3px; width: 27px; font-size: 18px; line-height: 24px; }
h5.get, h5.broadcast_event { border: 1px solid #FF9800; border-bottom-right-radius: 3px; border-top-right-radius: 3px; }
h5.get:before { content: 'GET'; background-color: #FF9800; color: white; }
h5.rpc:before, h5.broadcast_event:before { content: 'RPC'; }
h5.rpc:before { background-color: #673AB7; width: 72px; }
h5.broadcast_event:before { background-color: #FF9800; width: 72px; }
h5.get:after { content: '\f0a9'; }
h5.broadcast_event:after { content: '\f18e'; }
h5.post { border: 1px solid #03A9F4; border-bottom-right-radius: 3px; border-top-right-radius: 3px; }
h5.post:before { content: 'POST'; background-color: #03A9F4; color: white; }
h5.post:after { content: '\f0a8'; }
h5.put, h5.rpc { border: 1px solid #673AB7; border-bottom-right-radius: 3px; border-top-right-radius: 3px; }
h5.put:before { content: 'PUT'; background-color: #673AB7; color: white; }
h5.put:after, h5.rpc:after { content: '\f0a8'; }
h5.delete { border: 1px solid #AD1457; border-bottom-right-radius: 3px; border-top-right-radius: 3px; }
h5.delete:before { content: 'DELETE'; background-color: #AD1457; color: white; }
h5.delete:after { content: '\f057'; }

code.optional_parameters { position: relative; display: block; padding: 24px 14px 14px; margin: 7px 0; }
code.optional_parameters:before { position: absolute; top: 7px; left: 14px; content: 'Optional query string parameters'; font-family: "Helvetica Neue", "Helvetica"; font-weight: 700; font-size: 11px; color: #666; margin-bottom: 14px; }

pre.return, pre.payload { padding-top: 48px !important; position: relative; max-height: 420px; overflow-y: scroll; }
pre.payload:before { position: absolute; top: 7px; left: 7px; content: 'Payload (JSON string)'; color: #24D900; }
pre.return:before { position: absolute; top: 7px; left: 7px; content: 'Return (JSON)'; color: #FFD900; }

table.payload { border: 1px solid #eaeaea; width: 100%; }
table.payload th { background-color: #eaeaea; padding: 7px; }
table.payload tr { border-bottom: 1px solid #f5f5f5; }
table.payload tr td.key { width: 100px; text-align: right; padding: 7px; font-weight: 700; }
table.payload tr td.value { padding: 7px; }

span.parameter { background: yellow; font-weight: 400; }



code a { color: #c7254e; }